.page {
  width: 100%;
  background-color: #2A2C2F;
  color: white;
  font-family: 'Inter', sans-serif;
}

.header {
  max-width: 1184px;
  width: 92.5%;
  margin: 28px auto 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1039px) {
  .header {
    max-width: 928px;
    /* width: 90.63%; */
  }
} 

@media (max-width: 783px) {
  .header {
    max-width: 720px;
    width: 93.75%;
    /* margin-top: 16px; */
  }
}

  

/* @media (max-width: 425px) {
  .header {
    width: 90%;
    margin-top: 20px;
  }
} */ 

@media (max-width: 335px) {
  .header {
    /* width: 90%; */
    max-width: 288px;
    margin-top: 16px;
  }
}

.header__logo {
  width: 176px;
  height: 52px;
}

/* @media (max-width: 425px) {
  .header__logo {
    width: 154px;
    height: 45.5px;
  }
} */

@media (max-width: 335px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

.header__links {
  display: flex;
  list-style: none;
  gap: 18px;
  margin: 18px 0 6px;
  padding: 0;
}

.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

/* @media (max-width: 425px) {
  .header__lang-link {
    font-size: 21px;
    line-height: 24px;
  }
} */

@media (max-width: 335px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

.header__lang-link_line {
  text-decoration: underline;
}

.lead {
  max-width: 984px;
  /* max-height: 1005px; */
  margin: 56px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1039px) {
  .lead {
    max-width: 928px;
    margin-top: 48px;
  }
}

@media (max-width: 783px) {
  .lead {
    max-width: 768px;
  }
}

@media (max-width: 675px) {
  .lead {
    /* width: 100%; */
    margin-top: 48px;
  }
}

.lead__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
}

@media (max-width: 675px) {
  .lead__title {
    max-width: 635px;
    font-size: 60px;
    line-height: 64px;
  }
}

@media (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}

.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 675px) {
  .lead__subtitle {
    max-width: 400px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}

.lead__image {
  max-width: 984px;
  width: 100%;
  margin: 64px auto 8px;
 
}

@media (max-width: 1039px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media (max-width: 783px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media (max-width: 425px) {
  .lead__image {
    margin-top: 40px;
  }
}

.lead__captoin {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  align-self: baseline;
}

@media (max-width: 943px) {
  .lead__captoin {
    margin-left: 24px;
  }
}

@media (max-width: 425px) {
  .lead__captoin {
    margin-left: 16px;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 690px;
  margin-top: 92px;
  margin-left: 11.56%;
}

@media (max-width: 768px) {
  .intro {
    margin: 88px auto 40px;
    max-width: 720px;
  }
}

.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin: 0 0 40px 0;

}

.intro__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
} 

.intro__list {
  /* margin: 0; */
  margin-top: 33px;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.intro__list-item {
  margin: 0;
  padding: 0;
}

/* .intro__item-size {
  font-weight: 400;
) */