.section-flex {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width: 783px) {
  .section-flex {
    gap: 71px;
  }
}

@media (max-width: 335px) {
  .section-flex {
    row-gap: 47px;
  }
}