.lead__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
}

@media screen and (max-width: 695px) {
  .lead__title {
    max-width: 635px;
    font-size: 60px;
    line-height: 64px;
  }
}

@media screen and (max-width: 445px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}
