.lead__image {
  max-width: 984px;
  width: 100%;
  margin: 64px auto 8px;
}

@media screen and (max-width: 1039px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    margin-top: 40px;
  }
}