.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 690px;
  margin-top: 92px;
  margin-left: 148px;
}

@media screen and (max-width: 1039px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 943px) {
  .intro {
    margin: 88px 24px 0;
    max-width: 720px;
  }
}

@media screen and (max-width: 335px) {
  .intro {
    max-width: 288px;
    margin: 64px 16px 0;
  }
}