.place__website {
  grid-area: URL;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0;
}

@media screen and (max-width: 783px) {
  .place__website {
    margin: 0 0;
  }
}

@media screen and (max-width: 335px) {
  .place__website {
    display: block;
    margin: 0 16px 0;
  }
}
